<div class="uk-section uk-cover-container" style="height: 100vh;">
  <video uk-cover src="https://firebasestorage.googleapis.com/v0/b/feqre-892e6.appspot.com/o/Site%20Resources%2Fvid%2Fbg.mp4?alt=media&token=68f0b850-4f42-4e4f-8245-fdb882689339"></video>
  <div class="uk-container uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-column-5-6">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
          <img src="https://firebasestorage.googleapis.com/v0/b/feqre-892e6.appspot.com/o/Site%20Resources%2Fimg%2Fpexels-cadeau-maestro-1170412-2.jpg?alt=media&token=ffddecda-02f0-4f5b-8bb0-2ee91dc84ad6" alt="" uk-cover>
          <canvas height="100%"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Right</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
