.splashSection {
  margin-top: -10%;
}
.threeCol {
  height: 60vh;
}
.services {
  height: 70vh;
}
.properties {
  height: 60vh;
}
.latest {
  height: 90vh;
}
.stats {
  height: 40vh;
}
.splashForm {
  background: #FFF;
  border: 2px solid #E3AE5B;
  color: #111;
}
.primaryGhost {
  border: 2px solid #3F88E9;
  color: #3F88E9;
}
