<div class="uk-section uk-cover-container splashSection" style="height: 100vh;">
  <video uk-cover src="https://firebasestorage.googleapis.com/v0/b/feqre-892e6.appspot.com/o/Site%20Resources%2Fvid%2Fbg.mp4?alt=media&token=68f0b850-4f42-4e4f-8245-fdb882689339"></video>
  <div class="uk-container uk-position-center uk-flex uk-flex-center">
    <div class="uk-width-2-3">
      <h1 class="uk-text-bold uk-light uk-text-uppercase uk-text-center">Looking to buy or sell<br />commercial property?</h1>
      <p class="uk-text-center uk-light uk-text-break">
        Let our expertly trained staff help guide you through the 1031 Exchange process. Our agents have the experience and resources to provide for a smooth transition. There’s never been a better time to relocate, so contact us today!
      </p>
      <form class="uk-text-center">
        <div class="uk-margin">
          <input class="uk-input uk-form-width-large splashForm" type="text" placeholder="Full Name">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-width-large splashForm" type="text" placeholder="Email Address">
        </div>
        <button class="uk-button uk-button-primary">Contact Us</button>
      </form>
    </div>
  </div>
</div>
<div class="uk-section uk-section-default threeCol">
  <div class="uk-container">
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <div class="uk-text-center">
        <img src="../../assets/svg/agent.svg" uk-svg />
        <h2>Find an Agent</h2>
        <p>
          Integer justo dui, faucibus dictum, convallis sodales, accumsan id, risus. Aenean risus. Vestibulum scelerisque placerat sem. In eget sapien vitae massa rhoncus lacinia. Nullam at leo nec metus aliquam semper. Phasellus tincidunt, ante nec
          lacinia ultrices, quam mi dictum libero, vitae bibendum turpis elit ut lectus. Sed diam ante, lobortis sed.
        </p>
        <button class="uk-button uk-button-default primaryGhost" routerLink="agents">View Agents</button>
      </div>
      <div class="uk-text-center">
        <img src="../../assets/svg/buy.svg" uk-svg />
        <h2>Buy a Property</h2>
        <p>
          Integer justo dui, faucibus dictum, convallis sodales, accumsan id, risus. Aenean risus. Vestibulum scelerisque placerat sem. In eget sapien vitae massa rhoncus lacinia. Nullam at leo nec metus aliquam semper. Phasellus tincidunt, ante nec
          lacinia ultrices, quam mi dictum libero, vitae bibendum turpis elit ut lectus. Sed diam ante, lobortis sed.
        </p>
        <button class="uk-button uk-button-default primaryGhost" routerLink="listings">Buy a Property</button>
      </div>
      <div class="uk-text-center">
        <img src="../../assets/svg/sell.svg" uk-svg />
        <h2>Find an Agent</h2>
        <p>
          Integer justo dui, faucibus dictum, convallis sodales, accumsan id, risus. Aenean risus. Vestibulum scelerisque placerat sem. In eget sapien vitae massa rhoncus lacinia. Nullam at leo nec metus aliquam semper. Phasellus tincidunt, ante nec
          lacinia ultrices, quam mi dictum libero, vitae bibendum turpis elit ut lectus. Sed diam ante, lobortis sed.
        </p>
        <button class="uk-button uk-button-default primaryGhost" routerLink="contact">Sell a Property</button>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-cover-container homeAbout">
  <div class="uk-container">
    <h2>The Fortis Difference</h2>
    <p>
      Commercial real estate requires in-depth knowledge and well-rounded skills. Whether you are interested in purchasing a property, need property management services, or are looking for professional expertise, a commercial real estate advisor can
      help.
    </p>
    <h3>Why Fortis</h3>
    <p class="uk-margin-top">
      At Fortis Commercial Advisors, commercial properties are our focus. We understand the importance of due diligence, compliance, and the ability to strike fast when the perfect deal becomes available.
      <br />If you want to invest in commercial real estate, you need someone who can guide you through the process. At Fortis, that is what we do.
    </p>
  </div>
</div>
<div class="uk-section uk-section-secondary services">
  <div class="uk-container">
    <ul uk-accordion>
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">1031 Exchange</a>
        <div class="uk-accordion-content">
          <p>Thinking of trnaferring your property investments to another state? Our experts are uniquely suited to guide you through the 1031 process as quickly and painlessly as possible. Get in <a routerLink="contact">contact</a> with us today!</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Analytics</a>
        <div class="uk-accordion-content">
          <p>Our unique, proprietary software allows us to glean the most up to date information in real time. <a routerLink="register">Sign up</a> with an official investor account to monitor your investments.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Property Management and Leasing</a>
        <div class="uk-accordion-content">
          <p>Need an expert staff to take the management and front end responsibilities off your hands? Our <a routerLink="agents">team</a> is experienced and positively rated in maximum customer experience.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Tenant Representation</a>
        <div class="uk-accordion-content">
          <p>Our advocates are experts in tenant rights and local ordinance. <a routerLink="agents">Find an agent</a> today to help in all your tenant representation causes.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Development Consulting</a>
        <div class="uk-accordion-content">
          <p>Our team has direct relationships with deveopment groups dedicated to bringing your vision to life. For development advising, <a routerLink="contact">contact us</a>.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="uk-section uk-section-default properties">
  <div class="uk-container">
    <h2>Our Properties</h2>
    
  </div>
</div>
<div class="uk-section uk-section-default latest">

</div>
<div class="uk-section uk-section-default stats">

</div>
